[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "anthro"]
	path = anthro
	url = https://github.com/worldhealthorganization/anthro
[submodule "anthroplus"]
	path = anthroplus
	url = https://github.com/worldhealthorganization/anthroplus
